footer{
    background-color:#F6511D;
    height: 200px;
    margin-top: 30px;
}

.imagem{
    align-self: start;
    margin-top: 30px;
}
.texto{
    padding:0px 0px 0px 20px ;
    border-left: #FFFFFF solid 1px;
    margin: 20px;
    font-size: 18px;
}
p{
    color: white;
   
}