  //
  main{
    margin: auto;
    width: 95%;
    max-width: 1080px;
  }

section{
    width: 100%;
    margin: 0px auto;
}

input{
    height: 50px;
    font-size: 20px;
    margin-right: 35px;
    //width: 320px !important;
}


  .div-input{
    margin-right: 30px;
    height: auto;

  }


// .inp{
//     //width: 320px !important;
//     // height: 58px;
//     // border: 1px solid #000000;
//     // font-size: 20px;
//     // margin-top: 10px;
//   }

h2{
    font-size: 28px;
}

label{
    font-size: 20px;
}

.btn-cadastrar{
    margin-bottom: 80px;
}



//tabela/////////////////////

//Sombreamento da tabela
::ng-deep .mat-elevation-z8 {
    box-shadow: 0px 0px 0px 0px;
}

//coluna de botao
.mat-column-botao{
     padding:6px 0px;
 }

//tratamento inputs materail
.mat-form-field{
    margin-right: 30px;
    font-size: 20px;
}

::ng-deep  .mat-form-field.mat-focused .mat-form-field-label{ //campo focado
    color: black;
    font-size: 20px;
}


//REtirar espaco entre o input e linha de status
.mat-form-field-infix{
    padding-top: 0,5em;
    padding-bottom: 0em;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .4375em 0;
    padding-bottom: 0em;
}

::ng-deep .mat-form-field{
    width: 320px ;
}
::ng-deep .ng-tns-c115-3{
    //width: 1080px;
    //max-width: 100%;
    width: 100%;
}

//botao cadastrar
.BtnCadastrarDisable
{
  background-color: #757575;
}

.filter
{
  width: 100%;
}



//spinner
::ng-deep  .mat-spinner circle {
  stroke: #F6511D !important;;
 }
 :host ::ng-deep {
   stroke:#F6511D !important;
 }

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
    color:#F6511D !important;
   //color:#fff !important;
  }

 ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
   background-color: #F6511D !important;
   //background-color: #000 !important;
 }

