<app-header [titulo]="titulo"></app-header>
<main class="flex-col ">
    <h2 class="txt-center">Cadastro</h2>
    <section class="flex-col">
        <div class="flex left">
            <form [formGroup]="form" class="flex spc-between wrap">
                <mat-form-field >
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nomeForm" name="nomeForm" placeholder="Ex. Joao das Neves" class="input-border inp">
                    <mat-error *ngIf="form.get('nomeForm')?.hasError('required')">
                    Este campo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>E-mail</mat-label>
                    <input matInput formControlName="emailForm" placeholder="Ex. joaodasneves@got.com" class="input-border inp">
                    <mat-error *ngIf="form.get('emailForm')?.hasError('required') || form.get('emailForm')?.hasError('email')" >
                      {{validaEmail()}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field >
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="telefoneForm" placeholder="Ex. 55 11 30265201" class="input-border inp">
                    <mat-error *ngIf="form.get('telefoneForm')?.hasError('required')">
                    Este campo é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <button class="btn-cadastrar" (click)="salvarUsuario()" [ngClass]="{'BtnCadastrarDisable':!form.valid}" [disabled]="!form.valid">Cadastrar</button>

    </section>

    <section class="Usuarios">
        <!-- Tabela com dados -->
        <mat-form-field class="filter">
            <mat-label><mat-icon aria-hidden="true" aria-label="Pesquisar" fontIcon="search"></mat-icon>
              Pesquisar Usuario
            </mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- nome Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <!-- email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>E-mail </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="telefone">
              <th mat-header-cell *matHeaderCellDef>Telefone</th>
              <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
            </ng-container>

            <!-- Botoes -->
            <ng-container matColumnDef="botao">
                <th mat-header-cell *matHeaderCellDef>botoes</th>
                <td mat-cell *matCellDef="let element">
                    <button class="editar" (click)="openDialog(element.id)">editar</button>
                    <button class="excluir" (click)="excluirUsuario(element.id)">excluir</button>
                </td>
            </ng-container>

            <!-- Linha de cabeçalho-->
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator
            [length]=index
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20]"
            aria-label="Selecione a pagina do usuario">
        </mat-paginator>


    </section>
</main>

<div class="spinner" *ngIf="loading | async">
  <mat-spinner  ProgressSpinnerMode = 'indeterminate'></mat-spinner>
</div>

<app-footer></app-footer>


