<app-header [titulo]="titulo"></app-header>

<main class="flex-col center" >
    <h1>Monte sua coletânea de filmes</h1>
    <section>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ducimus a, rerum temporibus</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus doloremque eligendi voluptas? Laudantium nulla molestiae eaque dolor similique consectetur iusto recusandae temporibus libero nihil! Delectus voluptates enim quod vel eos.
        Accusantium odit, expedita odio incidunt itaque laborum quam, et nobis commodi fuga quasi dicta consequuntur. Autem nam nemo deserunt nobis, rem, quasi culpa, accusamus veniam labore animi repudiandae aut fugiat?
        Iure officiis quam maiores rerum. Repellat quisquam ipsa corporis excepturi laudantium, magnam voluptates, quo dolorum sint pariatur reiciendis praesentium sapiente odio dicta facilis expedita, illum repellendus doloremque ducimus itaque! Facilis?</p>
    </section>
    <section class="flex section-categoria spc-between">
        <div id="div-home-filme">
            <img src="../../assets/img/Desafio5/cinema 1.svg" alt="Rolo de filme antigo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia veritatis laudantium distinctio mollitia quia vel ex tenetur consequuntur quibusdam nobis sequi dolore, rerum id? Nemo ratione quasi voluptate error quo.
            Laboriosam ullam nisi eum asperiores dolor similique praesentium? Facere ea praesentium ipsam necessitatibus officiis suscipit, aut repellat enim. Explicabo laboriosam eligendi ratione ipsum accusamus et, aut consequuntur eum enim quaerat.</p>
        </div>
        <div id="div-home-categoria">
            <img src="../../assets/img/Desafio5/theater 1.svg" alt="Mascaras de teatro">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia veritatis laudantium distinctio mollitia quia vel ex tenetur consequuntur quibusdam nobis sequi dolore, rerum id? Nemo ratione quasi voluptate error quo.
            Laboriosam ullam nisi eum asperiores dolor similique praesentium? Facere ea praesentium ipsam necessitatibus officiis suscipit, aut repellat enim. Explicabo laboriosam eligendi ratione ipsum accusamus et, aut consequuntur eum enim quaerat.</p>
            
        </div>
    </section>
</main>


<app-footer></app-footer>