/* You can add global styles to this file, and also import other style files */

body{
    margin:0;
}

.flex{
    display: flex;
    flex-direction: row;

}
.flex-col{
    display: flex;
    flex-direction: column;

}

.spc-around{
    justify-content: space-around;
}

.spc-between{

    justify-content: space-between;
}

.txt-left{
    text-align: left;
}
.txt-center{
    text-align: center;
}

.center{
    align-items: center;
    align-content: center;
    justify-content: center;
}
.wrap{
  flex-wrap: wrap;
}

.width400px{
    width: 400px;

}
.width100{
    width: 100%;
}
.width90{
  width: 90%;
}

main{
    width: 100%;
    max-width: 1440px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//CSS BOTOES
.editar{
    height: 35px;
    width: 125px;
    background: #F6511D;
    border: 2px solid #F6511D;
    border-radius: 20px;
    margin-right: 10px;
    color:white;
    font-size: 20px;
    cursor: pointer;

}
.excluir{
    width: 125px;
    height: 35px;
    background: #41B8D2;
    border: 2px solid #41B8D2;
    border-radius: 20px;
    color:black;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-cadastrar{
    width: 180px;
    height: 58px;
    background: #F6511D;
    color: #FFFFFF;
    font-size: 20px;
    margin: 20px 0px;
    border: none;
    cursor: pointer;
}

.btn-salvar{
    width: 300px;
    height:58px;
    background-color: #F6511D;
    color: #FFFFFF;
    font-size: 20px;
    //margin: 20px 0px;
    border: none;
    cursor: pointer;


}

//////////////////////////////////////////////////Material
///


.input-border{
    border:1px solid black !important;
    caret-color: black;
}

//CSS TABELA
/* Structure */
table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

//coluna de botao
.mat-column-botao{
    // background-color: blue;
     height: 100%;
     display:flex;
     align-self: baseline;
     align-items: center;
     justify-content: right;
     padding:6px 0px;
 }


.mat-cell{
    font-size: 20px;
}

.BtnCadastrarDisable
{
  background-color: #757575;
}


//spinner
::ng-deep  .mat-spinner circle {
  stroke: #F6511D !important;;
 }
 :host ::ng-deep {
   stroke:#F6511D !important;
 }

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
    color:#F6511D !important;
   //color:#fff !important;
  }

 ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
   background-color: #F6511D !important;
   //background-color: #000 !important;
 }

 .spinner{
  color:#F6511D;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  top:0;
  z-index: 998;
  background-color: rgba(0,0,0,0.3);
}

::ng-deep  .mat-spinner {
  background-color: rgba(0,0,0,0) !important;;
}
